@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Julius+Sans+One&family=Khula:wght@400&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Color Variables */
:root {
  --background-color: #f5f5f5;
  --primary-text-color: #1d1d1d;
  --scrollbar-track-color: #f5f5f5;
  --scrollbar-thumb-color: #1d1d1d;
  --scrollbar-thumb-hover-color: #4a4a4a;
  --scrollbar-size: 10px;
}

/* Global styles */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  scroll-behavior: smooth;
  background-color: var(--background-color);
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.scroll-snap-container {
  scroll-snap-type: y mandatory;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

/* Custom scrollbar styles */
.scroll-container {
  --sb-track-color: var(--scrollbar-track-color);
  --sb-thumb-color: var(--scrollbar-thumb-color);
  --sb-thumb-hover-color: var(--scrollbar-thumb-hover-color);
  --sb-size: var(--scrollbar-size);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.scroll-container::-webkit-scrollbar {
  width: var(--sb-size);
}

.scroll-container::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
  margin-top: 8px; /* Adjust margin to position below content */
  margin-bottom: 8px; /* Adjust margin to position below content */
}

.scroll-container::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
  transition: background 0.3s ease;
  height: 50px; /* Set a fixed height to make the thumb smaller */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: var(--sb-thumb-hover-color);
}

/* Global scrollbar styles */
::-webkit-scrollbar {
  width: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 8px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}

@supports not (scrollbar-color: var(--sb-thumb-color) var(--sb-track-color)) {
  .scroll-container {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    scrollbar-width: var(--sb-size);
  }

  .scroll-container::-webkit-scrollbar-thumb:hover {
    scrollbar-color: var(--sb-thumb-hover-color) var(--sb-track-color);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .no-scrollbar::-webkit-scrollbar {
    display: block;
  }
}

/* Font styles */
h1 {
  font-family: 'Julius Sans One', sans-serif;
  color: var(--primary-text-color);
}

h2 {
  font-family: 'Khula', sans-serif;
  color: var(--primary-text-color);
}

p {
  font-family: 'Inter', sans-serif;
  color: var(--primary-text-color);
}

.highlight {
  color: #6f02c6;
}

mark {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(111, 2, 198, 0.1),
    rgba(111, 2, 198, 0.6) 5%,
    rgba(111, 2, 198, 0.2)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

video::-webkit-media-controls {
  display: none !important;
}
video::-moz-media-controls {
  display: none !important;
}
video::-ms-media-controls {
  display: none !important;
}

@media (max-width: 768px) {
  .project-section {
    display: flex;
    flex-direction: column;
  }
  .footer {
    display: block !important;
  }
}

.responsive-gif {
  width: 600px;
  height: 600px;
  object-fit: cover;
  max-width: 100%;
}

@media (max-width: 768px) {
  .responsive-gif {
    width: 400px;
    height: 400px;
  }
}
